body {
    padding-top: 7vh;
}

.header-title {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    font-size: 30px;
    text-align: center;
    width: auto;
}

.players {
    padding-top: 8vh;
    font-size: 20px;
}

.player-color {
    color: #CBAACB;
}
