body {
    background-color: #343a40;
    color: #ffffff;
    padding-top: 100px;
}

table {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: transparent;
}

table th, table td {
    padding: 20px;
    font-size: 18px;
    border: 1px solid #ffffff;
    text-align: center;
}

table thead th {
    background-color: #ADD8E6;
    color: #343a40;
    padding: 20px;
}



table tbody tr:nth-child(odd) {
    background-color: #394650;
}

table tbody tr:hover {
    background-color: #8358f9;
}