body {
    background-color: #343a40;
    color: #ffffff;
    padding-top: 100px;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: transparent;
}

table tbody td {
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: center;
}

table tbody tr:nth-child(odd) {
    background-color: #394650;
}

table tbody tr:hover {
    background-color: #465a71;
}