body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 30vh;
}

menu {
    flex:1;
    display: flex;
    flex-direction:row !important;
    list-style: none;
    justify-content: flex-end;
}

.navbar {
    border-bottom: 2px solid #555
}

.navbar-nav {
    display: flex;
    justify-content: flex-end
}

.nav-link {
    margin-right: 20px;
    color: #fff;
}

.navbar .nav-link:hover {
    color: #ADD8E6;
    text-decoration: none;
}

.nav-link.active, .nav-link.active:hover {
    color: #FFF;
    text-decoration: none;
}

.header-title {
    font-size: 60px;
}

.title-color {
    color: #ADD8E6
}

.intro-text {
    font-size: 24px;
    padding-bottom: 5vh;
}

.name-input {
    border-radius: 8px;
    padding: 10px;
}

.submit-btn {
    border-radius: 8px;
    padding:6px;
    background-color: #D4FF9D
}

.author-info {
    position: fixed;
    left: 5px;
    bottom: 2px;
    padding: 10px;
}

